name: "PR merge workflow"
on:
  push:
    branches:
      - main

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  update-dockerhub:
    # If you don't have secrets configured with docker credential, skip this job
    if: "${{ env.DOCKER_USER == '' || env.DOCKER_PASSWORD == '' }}"
    name: Container build and upload in Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build the latest Docker image
        run: docker build . --file Dockerfile --build-arg SINERGYM_EXTRAS=[extra] --tag $DOCKER_USER/sinergym:latest
      - name: Login in Docker Hub account
        run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Push container used with test
        run: docker push $DOCKER_USER/sinergym:latest
  
  apply-autopep8:
    name: Autopep8 auto-format by bot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: autopep8 check and fix
        id: autopep8
        uses: peter-evans/autopep8@v1
        with:
          args: --exit-code --recursive --in-place --aggressive --aggressive .
      - name: Commit autopep8 changes
        if: steps.autopep8.outputs.exit-code == 2
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated autopep8 fixes

  apply-documentation:
    name: Documentation compilation update by bot
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Upgrade pip
        run: "python -m pip install --upgrade pip"
      - name: Install dependencies [sinergym extras]
        run: "pip install -e .[extras]"
      - name: Compile documentation
        run: "cd docs && make html"
      - name: Verify documentation update
        uses: tj-actions/verify-changed-files@v7.2
        id: verify-documentation-update
        with:
          files: |
            docs/build/doctrees/pages
            docs/build/doctrees/index.doctree
            docs/build/html
      - name: Commit and push changes if exists
        if: steps.verify-documentation-update.outputs.files_changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          file_pattern: docs/build/*
          commit_message: Documentation source update detected and pushed compilation build directory for Github Pages

  